# Ignore files I don't need to track
.DS*
*~
*#
emacs/*.el
emacs/*.elc
emacs/auto-save-list
emacs/auto-save-list/*
emacs/elpa
emacs/elpa/*
emacs/backups
emacs/bakcups/*
ssh/id_rsa      
known_hosts

# Except:
!emacs/init.el
