[user]
	name = Robert Utterback
	email = Robert.Utterback@huawei.com
[core]
	editor = emacsclient -t
	pager = less -r
[merge]
	tool = diff
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[push]
	default = simple
