[user]
	name = Robert Utterback
	email = robertu13@gmail.com
[core]
	editor = emacsclient -t
	pager = less -r
[merge]
	tool = diff
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[credential]
	helper = cache --timeout=3600
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive
	spush = push --recursive-submodules=on-demand
	slab = log --oneline --decorate --graph --all
[push]
	default = current
[status]
	submoduleSummary = true
[diff]
	submodule = log
[fetch]
	recursiveSubmodules = on-demand
